# Distributed under the terms of the GNU General Public License v2

EAPI=7
CMAKE_MAKEFILE_GENERATOR="ninja"

inherit cmake

KEYWORDS="*"

DESCRIPTION="Open h.265 video codec implementation"
HOMEPAGE="https://github.com/strukturag/libde265"
SRC_URI="{{artifacts[0].src_uri}}"

LICENSE="GPL-3"
SLOT="0"
IUSE="enc265 dec265 sdl tools"
# IUSE+=" sherlock265" # Require libvideogfx or libswscale

RDEPEND="
	dec265? (
		sdl? ( media-libs/libsdl )
	)"

DEPEND="${RDEPEND}"
BDEPEND="dec265? ( virtual/pkgconfig )"

post_src_unpack() {
	mv "${WORKDIR}/"{{github_user}}-{{github_repo}}* "${S}" || die
}

src_prepare() {
	cmake_src_prepare
}

src_configure() {
	local mycmakeargs=(
		-DENABLE_SDL=$(usex sdl)
		-DENABLE_DECODER=$(usex dec265)
		-DENABLE_ENCODER=$(usex enc265)
		-DENABLE_INTERNAL_DEVELOPMENT_TOOLS=$(usex tools)
	)

	cmake_src_configure
}

src_compile() {
	cmake_src_compile
}

src_install() {
	cmake_src_install

	if multilib_is_native_abi; then
		# Remove useless, unready and test tools
		rm -f "${ED}"/usr/bin/{tests,gen-enc-table,yuv-distortion} || die
		if ! use tools; then
			rm -f "${ED}"/usr/bin/{bjoentegaard,block-rate-estim,rd-curves} || die
			rm -f "${ED}"/usr/bin/acceleration_speed || die
		fi
	else
		# Remove all non-native binary tools
		rm -f "${ED}"/usr/bin/* || die
	fi

	find "${ED}" -name '*.la' -delete || die
	einstalldocs
}
